body{
    font-size: 16px;
    color: #2b283a;
    font-family: arial;
    margin: 0;
}
h1, h3{
    margin: 0;
}

h1{
    color: whitesmoke;
    font-size: 36px;
}

h2{
    margin-top: 0;
}

h3{
    color: #dc5a60;
    font-size: 20px;
}

p{
    line-height: 23px;
}
a{
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, a:active{
    color: #dc5a60;
}
.btn{
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.btn-dark{
    background: #2c2c2c;
    color: whitesmoke
}

.btn-mid{
    background: lightgray; 
    color: #2c2c2c; 
}

.btn-light{
    background: whitesmoke;
    color: #2c2c2c; 
}

.btn:hover, 
.btn:active{
    background-color: #dc5a60;
    color: #2c2c2c;
}
header, section, footer{
    padding: 45px 0;
}

header, .section-two{
    background-color: #2c2c2c;
}

.section-two{
    color: whitesmoke;
}
.section-one {
    width: 45%;
    margin: 0 auto;
}
.container, .container2{
    width: 45%;
    margin: 0 auto;
}

.main-image{
    width:100%;
} 

.section-two-image-container{
    display: flex;
    justify-content: space-between;
}

.feature-image{
    width: 75%;
    border-radius: 4.6px;
}

footer{
    text-align: center;
    color: #dc5a60;
}
@media (max-width: 750px){
    .section-one, .container {
        width: 90%;
    }

    .feature-image {
        display: block;
        width: 90%;
    }
}